<div id="footer">
			<div id="intfooter">
				<div id="fleft">
				<span class="tit">Els Nostres Establiments</span><br><br><br>
				<p>Llibreria 22<br>
				C/ Hortes, 22 - 17001 Girona<br>
				T: 972 21 23 95 - 972 22 14 30<br><br><br>

				Llibreria & Quiosc 22<br>
				C/ Emili Grahit, 59-61 - 17002 Girona<br>
				T: 972 22 70 37<br><br><br>

				Còmics 22<br>
				C/ Hortes, 11 - 17001 Girona<br>
				T: 972 41 15 87<br></p>
				</div>
				<div id="fright">
					<div id="horaris">
					<span class="tit">Horaris</span>
					</div>
					<div class="hleft">
					LLIBRERIA 22 /<br>
					CÒMICS 22<br><br><br>
					 
					De dilluns a divendres:<br>
					Matí: de 9'00 a 14'00 hores<br>
					* CÒMICS: de 9'00 a 13.30*<br>
					Tarda: de 16'00 a 20'00 hores<br><br><br>
					
					Dissabtes:<br>
					Matí: de 9'00 a 13'30 hores<br>
					Tarda: de 17'00 a 20'15 hores<br><br><br>
					
					Diumenges:<br>
					Matins: de 9'00 a 13'15 hores.<br>
					(Només l'espai de revistes i còmics)<br>
					</div>
					<div class="hleft2">
					LLIBRERIA&<br>
					QUIOSC 22<br><br><br>
					 
					De dilluns a divendres:<br>
					Matí: de 8'30 a 13'30 hores<br>
					Tarda: de 16'30 a 20'00 hores<br><br><br>
					
					Dissabtes:<br>
					Matí: de 8'30 a 13'30 hores<br>
					Tarda: Tancat.<br><br><br>
					
					Diumenges:<br>
					Matins: de 8'30 a 13'30 hores.<br>
					</div>
				</div>
			</div>
		</div>