body {
background-color: #eee;
font-family: arial;
font-size: 13px;
text-decoration: none;
margin: 0px;
padding: 20px;
}
a {
color:#333;
text-decoration: none;
}
#container{
width: 100%;
margin: auto;
}

#content {
    background-color: white;
    border-bottom: 3px solid #FCEA10;
    width: 100%;
    float: left;
}
.content {
   
    margin: auto;
    width: 100%;
    padding: 20px 0px 20px 0px;
    border-radius:5px 5px 0px 0px;
    color:white;
    background: #0e0e0e; /* Old browsers */
	background: #636363; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzNjM2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODI4MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #636363 0%, #282828 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636363), color-stop(100%,#282828)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #636363 0%,#282828 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #636363 0%,#282828 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #636363 0%,#282828 100%); /* IE10+ */
	background: linear-gradient(to bottom, #636363 0%,#282828 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#282828',GradientType=0 ); /* IE6-8 */
}


.tit {
    font-weight: bold;
    padding-left: 18px;
    text-transform: uppercase;
    width: 1000px;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1px;
    margin-right: 20px;
}

#menu{
	width: 100%;
	border-bottom: 1px solid #C3C3C3;
    float: left;
    background-color: #EAEAEA;
    float:left;
}
.con_int{
    width: 100%;
    border-bottom: 1px solid #C3C3C3;
    float: left;
    float:left;
}
.table_admin tr{
   border: 1px solid #d8edf1;
   background-color: #f5f5f5;
   padding: 10px;
}
.table_admin td, .table_admin th{
   
   padding: 10px;
}
.table_admin {
    border-collapse: collapse;
    font-family: arial,Sans-Serif;
    font-size: 12px;
   
    text-align: left;
    width: 100%;
    float: left;
    padding: 10px;
    vertical-align: middle;
    position: relative;
}
.super{
    padding: 20px;
    margin: 20px;
    float: left;
}
.filter{
    height: 30px;

}
.pagerfanta{
    padding: 20px;
}
#form{
    float: left;
    width: 100%;
    
}
#formol label{
   
   float: left;
}
#formol input{
   width: 694px;
   height: 30px;
   margin-bottom: 20px;
}
#formol textarea{
   width: 310px;
   height: 400px
}
#formol select{
  
   height: 30px
}
#formol{
    float: left;
    width: 100%;
     background-color: #f5f5f5;
     padding-top: 20px;
     padding-bottom: 60px;
}
#form_date_entrada{
    float: left;
    padding: 0px!important;
    width: 100%;
    margin-bottom: 20px;
}
#form_data_fi{

    float: left;
    padding: 0px!important;
    width: 100%;
    margin-bottom: 20px;
}
#form_save{
    margin-bottom: 40px;
}
#left_for{
    width: 700px;
    float: left;
    margin-left: 20px;
}
#rigth_for{
   width: 300px;
    float: left;
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px solid #b9b9b9;
}
#rigth_for div{
    padding-bottom: 10px;
}












#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  height: 49px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #eee9f0));
  background: -webkit-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
  background: linear-gradient(top, #fefefe 0%, #eee9f0 100%);
  border-bottom: 2px solid #FCEA10;
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(top, #fefefe 0%, #ececec 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #ececec 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #ececec 100%);
  background: linear-gradient(top, #fefefe 0%, #ececec 100%);
  color: #000;
  display: inline-block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 49px;
  padding: 0 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li > a {
  color: #000;
  font-size: 12px;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
 
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}

#cssmenu > ul > li.active > a {
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  background: #ececec;
  background: -moz-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffeeff ef));
  background: -webkit-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -o-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -ms-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
}
#cssmenu > ul > li:hover > a {
  background: #ececec;
  background: -moz-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffeeff ef));
  background: -webkit-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -o-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -ms-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 180px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #d5d5d5;
  filter: none;
  font-size: 13px;
  display: block;
  line-height: 120%;
  padding: 20px;
  color: #333;
}
#cssmenu .has-sub ul li:hover a {
  background: #c1c1c1;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #a80008;
  border-bottom: 1px dotted #ff0f1b;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #8f0007;
}
#login{
    margin: auto;
width: 100%;
position: relative;
height: 100%;
}
#login form{
   width: 300px!important;
}
#int_log{
    width: 208px;
margin: auto;
background-color: #b9b9b9;
padding: 30px;
margin-top: 70px;
}
#int_log div input{
height: 41px;
border: none;
width: 200px;
padding-left: 5px;
margin-top: 30px;
line-height: 2;
color: #999;

}
#int_log button{
    background-color: #d9d9d9;
    border: none;
    margin-left: 0px;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
}
tr.enviat {
    background-color: #0F0!important;
}
#foradelloc{
    display: none;
}