@charset "UTF-8";
body {
    /* transition properties */
    transition: background-color 2s;
    -moz-transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -o-transition: background-color 2s;
    /* basic styling & initial background-color */
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EDEDED;
}
a{
    text-decoration: none;
    color: #999;
}
a:hover{
    color: #333;
}
#seleccionables{
    height: 30px;
margin-top: 10px;
margin-left: 10px;
width: 110px;
}
#container{
	width: 100%;
	margin: auto;
	height: 100%;
	position: relative;
}
#cont_cont{
	width: 100%;
	height: 100%;
}
.cerca_tot{
       cursor: pointer;
}
.activitat{
       
       color:#EA5B0C;
}

#sup{
	margin: auto;
	width: 960px;
	height: 266px;
}
.mailto{
    text-decoration: none;
    color: #b6b6b6;
}
.mailto:hover{
    text-decoration: none;
    color: #EA5B0C;
}
.dasheds{
    margin-left: 16px;
margin-right: 16px;
border-bottom: 1px dashed #d7d7d7;
}
.search_none{
    width: 100%;
float: left;
margin-bottom: 60px;
margin-left: 15px;
}
#logo {
width: 310px;
background-color: white;
height: 210px;
float: left;
margin-right: 20px;
margin-top: 36px;
}
#slider {
background-color: red;
height: 210px;
width: 629px;
float: left;
margin-top: 36px;

}
#sli{
    padding-left: 30px!important;
}
#menu{
	width: 100%;
	margin: auto;
	background-color: #706F6F;
	height: 50px;
	color: #EDEDED;
}
#menu_left{
	width:720px;
	float:left;
}
#menu_right{
	float:right;
	margin-top: -5px;
}
#conmenu li, #conmenu li a{
	display: inline;
	text-decoration: none;
	color: #EDEDED;
}
#conmenu li a:hover{
	border-bottom: 10px solid #FCEA10;
	padding-bottom: 7px;
}
#conmenu .active{
	border-bottom: 10px solid #FCEA10;
	padding-bottom: 7px;
}
#conmenu{
	width: 960px;
	margin: auto;
	padding-top: 17px;
	font-size: 15px;
}
.tit_fix{
	width: 298px;
	height: 60px;
	font-weight: bold;
	color: #575756;
	background-color: white;
	float: left;
	font-size: 30px;
	line-height: 2;
	padding-left: 20px;
	margin-right: 12px;
	margin-bottom: 12px;
}
.tit_fixN{
	width: 960px;
	height: 60px;
	font-weight: bold;
	color: #575756;
	float: left;
	font-size: 30px;
	line-height: 2;
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
	
}
.content{
	margin: auto;
	width: 960px;
	height: 966px;
	padding-top: 12px;
}
.contentnotpor{
	margin: auto;
	width: 960px;
	float: left;
    
	padding-top: 12px;
}
.contentnota{
	margin: auto;
	width: 960px;
	height: 60px;
	padding-top: 12px;
}
#searchs .contentnota{
	margin: auto;
	width: 960px;
	height: 0px;
	padding-top: 12px;
}
.contentnot{
	margin: auto;
	width: 960px;
	
    
	padding-top: 12px;
}
#footer{
	width: 100%;
	margin: auto;
	background-color: #706F6F;
	height: 360px;
	color: #575756;
	font-size: 13px;
	float: left;
}
#intfooter{
	width: 960px;
	margin: auto;
	height: 360px;
}
#fleft{
	width: 199px;
	padding: 0px 20px 20px 20px;
	float: left;
	color:white;
	height: 340px;
        border-right: 1px solid white;
}
#fleft2{
	width: 199px;
	padding: 0px 20px 20px 20px;
	float: left;
	color:white;
	height: 340px;
        
}
.footers{
    width: 209px;
background-color: #ffc153;
margin-left: -20px;
padding: 15px;
color:white;
}
.footers2{
    width: 209px;
background-color: #46b29d;
margin-left: -20px;
padding: 15px;
color:white;
}
.footers3{
    width: 209px;
background-color: #6cc2ba;
margin-left: -20px;
padding: 15px;
color:white;
}
.footers4{
    width: 209px;
background-color: #eb6b56;
margin-left: -20px;
padding: 15px;
color:white;
}
#fright{
	width: 672px;
	padding: 40px 00px 20px 20px;
	float: left;
	height: 300px;
	color: white;
}
#horaris{
	width: 110px;
	height: 300px;
	float: left;
}
.hleft {
width: 231px;
float: left;
border-right: 1px solid white;
}
.hleft2 {
width: 190px;
float: left;
margin-left: 24px;
border-right: 1px solid white;
height: 269px;
}
.hleft3 {
width: 190px;
float: left;
margin-left: 24px;

height: 269px;
}
.element{
	width: 319px;
	float: left;
	background-color: white;
	margin-right: 12px;
	margin-bottom: 12px;
	position: relative;
	clear:inherit;
}
.element p{
	padding: 20px;
}



#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

.content {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 2;
	column-gap: 15px;
	column-fill: auto;
}

.pin{
    width: 300px;
    float: left;
    clear: right;
}

.content:hover .pin:not(:hover) {
	opacity: 0.4;
}
.tit{
	font-size: 15px;
	font-weight: bold;
}
.inputs {
height: 28px;
border: none;
width: 190px;
padding-left: 5px;
line-height: 2;
color:#999;
}
#historic .inputs2 {
height: 32px;
border: none;
width: 190px;
padding-left: 5px;
line-height: 2;
color:#999;
}
#b_search{
	width: 32px;
	height: 30px;
	float: left;
	background-color: #bdbdbd;
	margin-left: -2px;
}
#b_search2{
	width: 32px;
	height: 34px;
	float: left;
	background-color: #bdbdbd;
	margin-left: -2px;
}
#search_bar{
	height: 26px;
	float: left;
}
.not_el{
	width: 960px;
	
	background-color: white;
	float: left;
	margin-bottom: 20px;
}
.not_int{
	
	font-size: 12px;
	color: #706F6F;
}
.not_int img{
	margin-left: -50px;
	width: 304px;
	height: auto;
	padding-bottom: 16px;
	padding-top: 16px;
	
}
.tit_not{
	font-size: 21px;
	color: #575756;
	font-weight: bold;
}
.sub_tit{
	font-size: 14px;
	color: #EA5B0C;
	font-style: italic;
	margin-bottom: 16px;
	float: left;
	width: 250px;
}
#searchs .sub_tit{
	font-size: 14px;
	color: #EA5B0C;
	font-style: italic;
	margin-bottom: 0px;
	float: left;
	width: 250px;
        margin-left: 52px;
}
.not_int p{
	margin-top: 30px;
}
.not_fet {
text-align: right;
font-size: 12px;
margin-top: 20px;
border-bottom: 1px solid #706F6F;
padding-bottom: 10px;
}
.pres_el{
	width: 305px;
	margin-right: 15px;
	background-color: white;
	float: left;
	margin-bottom: 20px;
}
.sub_tit_pres{
	font-size: 14px;
	color: #EA5B0C;
	
}
.pres_int{
	padding: 50px 30px 20px 50px;
	font-size: 12px;
	color: #706F6F;
}
.pres_int p{
	margin-top: 30px;
	margin-bottom: 10px;
}
.pres_titol{
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	margin-top: 20px;
	float: left;
	color: #EA5B0C;
}
.autor{
	font-weight: bold;
}
.pres_el img{
	width: 200px;
}
.sub_sug{
	font-size: 14px;
	font-weight: normal;
}
.tit_fixS{
	width: 960px;
	height: 60px;
	font-weight: bold;
	color: #575756;
	float: left;
	font-size: 30px;
	margin-right: 12px;
	margin-bottom: 12px;
	line-height: 1;
	margin-top: 10px;
	
}
.sug_cell{
	width:138px;
	padding-left: 20px;
	padding-top: 7px;
	font-size: 12px;
	color: #3C3C3B;
}
.image{
	padding-top: 17px;
}
.image .sug_cell{
	vertical-align: bottom;
	padding-top: 17px;
}
.tit_sug{
	text-transform: uppercase;
	font-weight: bold;
	
}
.recer_int{
	padding: 30px 30px 0px 50px;
	font-size: 17px;
	color: #575756;
	font-weight: bold;
	
}
.pres_el_res{
	font-size: 17px;
	color: #706F6F;
	font-weight: bold;
	width: 638px;
	background-color: #DADADA;
	float: left;
	margin-bottom: 20px;
	height: 202px;
}

.inputs_cer {
height: 28px;
border: none;
width: 390px;
padding-left: 5px;
line-height: 2;
color:#999;
margin-top: 10px;
}

.pres_el_res #b_search{
	background-color: #706F6F;
	margin-top: 10px;
}
.recer_int p{
	font-size: 12px;
	font-weight: normal;
	width: 394px;
	margin-top: 20px;
	float: left;
}
.res_el{
	width: 305px;
	margin-right: 15px;
	background-color: white;
	float: left;
	margin-bottom: 20px;
	height: 202px;
}
.ce{
	font-size: 14px;
	width: 395px;
	float: left;
	margin-top: 10px;
}

.sug a{
	float: left;
	margin-bottom: 30px;
	margin-left: 50px;
	margin-top: 50px;
	color: #575756;
	font-size: 17px;
}
#int_res{
	padding: 30px 30px 0px 50px;
	font-size: 14px;
}
.sug_cell_rescerca{
	padding: 7px;
	font-size: 11px;
	color: #3C3C3B;
	border: 1px solid #333;
	background-color: #F6F6F6;
	vertical-align: middle;
}
.c1{
	width:363px;
}
.c2{
	width:184px;
}
.c3{
	width:170px;
}
.c4{
	width:65px;
}
.c5{
	width:63px;
	background-color: #575756;
	color: white;
	text-transform: none;
}
.c5:hover{
	width:63px;
	background-color: #575756;
	color: #FCEA10;
	text-transform: none;
}
#int_res table{
	margin-bottom: 30px;
	margin-top: 20px;
}
#int_res th{
	text-align: left;
	padding: 7px;
	font-size: 14px;
	color: #3C3C3B;
}



.tabs {
    position: relative;
	margin: 40px auto;
	width: 960px;
	float: left;
}

.tabs .opts {
	position: absolute;
	z-index: 1000;
	width: 78px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
	
}
.tabs input#tab-2{
	left: 94px;
}
.tabs input#tab-3{
	left: 191px;
        width: 140px;
}
.tabs input#tab-4 {
left: 338px;
width: 80px;
}
.tabs input#tab-5 {
left: 423px;
width: 83px;
}
.tabs input#tab-6 {
left: 513px;
width: 93px;
}

.tabs .labe {
	background: #706F6F;
	position: relative;
	padding: 10px 20px 10px 20px;
    float: left;
	display: block;
	color: #333;
	text-align: left;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color:white;
	border-right: 1px solid #EDEDED;
    
    
    
    
}

.tabs labe:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs label:first-of-type {
    z-index: 6;
    
}

.tab-label-2 {
    z-index: 5;
}

.tab-label-3 {
    z-index: 4;
}

.tab-label-4 {
    z-index: 3;
}
.tab-label-5 {
    z-index: 2;
}
.tab-label-6 {
    z-index: 1;
}

.tabs input:checked + label {
    background: white;
	z-index: 6;
	color: #575756;
	
	
}

.clear-shadow {
	clear: both;
}

.contente {
    background:white;
	position: relative;
	height: 100%;
	z-index: 5;
    float:left;
    width: 960px;
    margin-bottom: 20px;
}

.contente .contente-1, .contente .contente-2, .contente .contente-3, .contente .contente-4, .contente .contente-5, .contente .contente-6 {
    position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0px;
	z-index: 1;
    opacity: 0;

    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .contente .contente-1,
.tabs input.tab-selector-2:checked ~ .contente .contente-2,
.tabs input.tab-selector-3:checked ~ .contente .contente-3,
.tabs input.tab-selector-4:checked ~ .contente .contente-4,
.tabs input.tab-selector-5:checked ~ .contente .contente-5,
.tabs input.tab-selector-6:checked ~ .contente .contente-6
{
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
    position:relative;
    
}
.total{
    width: 156px;
    float: left;
    height: 247px;
    margin-bottom: 30px;
}
.texte {
    float: left;
    text-align: left;
    width: 160px;
    text-wrap: normal;
    font-size: 12px;
    word-break:keep-all;
    width: 150px;
    color: #777;
}

.titol {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.sugg{
    padding: 20px 0px 20px 20px;
    width: 940px;
}
#noticies .contentnot{
    width: 990px;
}
#searchs .contentnot{
    width: 990px;
}
#noticies .not_el {
    background-color: #FFFFFF;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 304px;
}
#noticies .tit_fixN{
	width: 960px;
	height: 60px;
	font-weight: bold;
	color: #575756;
	float: left;
	font-size: 30px;
	line-height: 2;
	margin-right: 12px;
	margin-bottom: 12px;
	margin-left: 20px;
	float: left;
	
}
.item {
    width: 310px;
    float: left;
    background-color: white;
    margin-left: 16px;
    margin-bottom: 16px;
}

#co{
    
}
#presentacio .contentnot{
    width: 990px;
}
#presentacio .not_el {
    background-color: #FFFFFF;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 304px;
}
#presentacio .tit_fixN{
	width: 960px;
	height: 60px;
	font-weight: bold;
	color: #575756;
	float: left;
	font-size: 30px;
	line-height: 2;
	margin-right: 12px;
	margin-bottom: 12px;
	margin-left: 20px;
	float: left;
	
}
.leftdiv{
   float: left;
width: 308px;
margin-right: 16px;
font-size: 12px;
color: #706F6F;

}
.leftdiv img{
   margin-left: -16px;
   width: 308px;
   height: auto;
padding-bottom: 14px;
}
.leftdiv p img{
    margin-left: 0px;
}

.elem_main{
    background-color: #ffffff;
    margin-bottom: 16px;
    padding: 16px;
}
.imgportada img{
   margin-left: -16px;
   width: 308px;
   height: auto;
   padding-bottom: 14px;
   padding-top: 14px;

}
.centerdiv p img {
   padding-bottom: 14px;
   padding-top: 14px;

}

.rightdiv p img{
   
   width: 308px;
   height: auto;
   margin-bottom: 16px;
}
.centerdiv{
    float: left;
    width: 308px;
    margin-right: 16px;
     font-size: 12px;
 color: #706F6F;
}
.rightdiv{
    float: right;
    background-color: #706F6F;
    height: 100%;
    width: 310px;
    margin-bottom:100px;
}
.ender{
    padding: 16px;
}
.farl{
    width: 250px;
    color: #FCEA10;
    font-size: 12px;
}
.wit{
    font-size: 20px!important;
}
.titolmain {
text-transform: uppercase;
margin-top: 16px;
font-weight: bold;
font-size: 15px;
}
.des{
    color: #ffffff!important;
    margin-bottom: 16px;
}
.pagination a{
    text-decoration: none;
    color:#A2A2A2;
}
.pagination a:hover{
    text-decoration: none;
    color:#EA5B0C;
}
.pagination span {
padding: 7px;
background-color: white;
margin: 5px;
font-family: arial;
font-size: 13px;
}

.pagerfanta {
text-align: center;
margin-bottom: 90px;
margin-top: 50px;
}
#busca .pagerfanta {
text-align: center;
margin-bottom: 30px;
margin-top: 50px;
}
#men_le{
    width: 154px;
    background-color: white;
    float: left;
    padding-bottom: 14px;
}
#con_gal{
    width: 800px;
    float: right;
}
#con_gal img{
    
}

.divCargando{
width: 100%;
position: fixed;
top: 0px;
background-color: black;
z-index: 1300;
height: 100%;
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
       
    
}
#int_div{
    width: 900px;
    margin: auto;
}

.divCargandoImg {
margin: auto;
width: 100%;
z-index: 1301;
position: absolute;
top: 0px;
height: 100%;

}
#left_but, #left_but a, #left_but img{
    width: 120px;
    float: left;
    position: relative;
    z-index: 1301;
    margin-top: 20px;

}
#center_but{
    width: 642px;
    float: left;
    background-color: white;
}
#center_but_2 {
width: 642px;
float: left;
height: 30px;
line-height: 2;
margin-top: 30px;
font-weight: bold;
color: white;
cursor: pointer;
text-align: right;
}
#right_but{
    width: 120px;
    float: left;
}
#text_di{
    padding: 20px;
}
.desi{
	font-size: 12px;
	color: #706F6F;
	float: left;
        padding-bottom: 20px;
}
#galeria .sub_tit {
font-size: 14px;
color: #EA5B0C;
font-style: italic;
margin-bottom: 0px!important;
float: left;
width: 200px;
}

#men_le li{
    padding: 14px 10px 0px 30px;

}
#men_le li a{
    text-decoration: none;
    color: #B2B2B2;;
}
#scrollbar1 { width: 311px; clear: both;}
#scrollbar1 .viewport { width: 296px; height: 500px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: relative; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #777; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #575756; height: 100%; width:14px; position: relative; }
#scrollbar1 .thumb { height: 20px; width: 14px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }



#ies{
    width: 217px;
    padding-left:  50px;
    float: left;
    height: auto;
}
#ies p{
   color:#777;
}
#ies_img{
    width: 300px;
    padding-bottom: 10px;
    float: left;
    height: auto;
}
.imagenexterna img{
     padding-top: 10px;
    padding-bottom: 10px;
    
  
}
.tit_top{
    padding-top: 30px;
}
.bol{
    font-weight: bold;
    font-size: 12px;
    color: #878787;
    margin-top: 16px;
   padding-bottom: 35px;
}
.bola{
    font-weight: bold;
    font-size: 12px;
    color: #878787;
    margin-top: 16px;
   
}

.comon{
    line-height: 1;
    font-size: 12px!important;
    padding-bottom: 30px;
    word-wrap: break-word;
}
#sea_con{
    background-color:white;
    margin-bottom: 20px;
    padding-left: 50px;
    width: 960px;
    float: left;
}
.sea_img{
    float: right;
}
.sea{
    float: left;
    width: 743px;
}
.seas{
    float: left;
    width: 903px;
}
.tit_lli{
    padding-bottom: 10px;
    font-size: 17px;
}
.recer_int_lli{
	padding: 30px 30px 0px 50px;
	font-size: 17px;
	color: #575756;
	font-weight: bold;
	
	
}
.pi{
    text-transform: uppercase;
    font-size: 13px;
    padding-bottom: 16px;
    font-weight: normal;
}
.ti{
    font-weight: bold;
    font-size: 12px;
}
.res_el_lli{
    width: 305px;
	margin-right: 15px;
	background-color: white;
	float: left;
	margin-bottom: 20px;
	height: 288px;
}
.formu{
	padding: 64px 30px 0px 50px;
	font-size: 12px;
	color: #575756;
	
}
.formu input{
	width: 340px;
	height: 30px;
	border: none;

padding-left: 5px;
line-height: 2;
color:#999;
	
}
.lebe {
float: left;
width: 110px;
height: 33px;
padding-top: 10px;
font-size: 16px;
}
.inpu{
	float:right;
	width: 390px;
	height: 43px;
}
.pres_el_res_lli{
	font-size: 17px;
	color: #706F6F;
	font-weight: bold;
	width: 638px;
	background-color: #DADADA;
	float: left;
	margin-bottom: 70px;
	height: 430px;
}
.formu form_save{
	width: 30px;
	
	
}
.dise{
    font-size: 13px;
    margin-top: 20px;
    float: left;
    height: 43px;
}
.hleft3 a{
    text-decoration: none;
    color: #d9d9d9;
}
.coco{
    width: 141px!important;
}
.nitro{
    height: 159px!important;
    float: left;
}
.total th{
    vertical-align: bottom;
    height: 160px;
}
.c5, #b_search{
    cursor: pointer;
}
#presentacio .contentnot table p{
    width: 250px;
    
}
.pr{
    float: left;
}
#reposicion{
    position:relative;
   height: 100%;
   margin-top: -80px;
    
}
#cont_esta {
width: 479px;
float: left;
background-color: white;
padding: 50px;
margin-bottom: 40px;
padding-top: 30px;
}
.item_est {
    width: 180px;
    float: left;
    background-color: white;
    margin-bottom: 16px;
    margin-left: 10px;
}
#com{
    width: 380px;
    float: left;
}
.sep{
    border: 1px solid #d9d9d9;
}
.titol_esta{
    font-size: 21px;
color: #575756;
font-weight: bold;
margin-bottom: 20px;
}
#enter_sug{
    width: 156px;
height: 159px;
visibility: visible;
zoom: 1;
opacity: 1;
overflow: hidden;

float: left;
}
#suggeriments .titol{
    margin-top: 10px;
}
.tablesuger{
    height: 186px;
}
#leftPetana {
background-color: #067072;
color: white;
padding: 10px;
width: 90px;
font-weight: bold;
}
#centerPetana {
background-color: #14A589;
color: white;
padding: 10px;
width: 90px;
font-weight: bold;
}
#prePetana {
background-color: #FCEA10;
color: #706F6F;
padding: 10px;
width: 90px;
float: left;
margin-left: 2px;
font-size: 12px;
font-weight: bold;
}
#index iframe{
    margin-left: -16px;
}
.leftdiv .elem_main{
    border-left: 1px solid #067072;
}
.centerdiv .elem_main{
    border-left: 1px solid #14A589;
}
.logoin {
padding: 6px;
padding-left: 30px;
font-size: 12px;
color: #b6b6b6;
line-height: 1.7;
}
#busca .titol, #suggeriments .titol{
    width: 140px;
    margin-bottom: 4px;
}
.destacat_aparador {color: #067072; font-weight: bold; font-family: Helvetica,Arial,sans-serif;}
.destacat_noticies {color: #14A589; font-weight: bold; font-family: Helvetica,Arial,sans-serif;}
.destacat_presentacions {color: #FCEA10; font-weight: bold; font-family: Helvetica,Arial,sans-serif;}
.destacat_taronja_general {color: #EA5B0C;font-weight: bold; font-family: Helvetica,Arial,sans-serif;}

.sugbus{
    float: left;
width: 100%;
padding-left: 30px;
font-size: 14px;
}
.historic{
    width:880px;
    background-color: white;
    padding: 40px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    float: left;
}
.historics{
    width:880px;
    background-color: white;
    padding: 40px;
    padding-bottom: 35px;
    margin-bottom: 20px;
    float: left;
}
.historic_presen{
    background-color: white;
    padding: 10px;
    margin-right: 20px;
    float:left;
    font-size: 14px;
    cursor: pointer;
}
.historic_presen:hover{
    background-color: #EA5B0C;
    padding: 10px;
    margin-right: 20px;
    float:left;
    font-size: 14px;
    cursor: pointer;
}
.historic_presen_active{
    background-color: #EA5B0C;
    padding: 10px;
    margin-right: 20px;
    float:left;
    font-size: 14px;
    cursor: pointer;
}
.container_historic{
    width:960px;
    margin-bottom: 20px;
    float: left;
    margin-top:20px;
}

#form_Encarregar{
float: right;
margin-right: 44px;
padding: 9px;
background-color: #EA5B0C;
border: 0px;
cursor:pointer;
color:white;
}
#form_Encarregar:hover{
float: right;
margin-right: 44px;
padding: 9px;
background-color: #333;
border: 0px;
cursor:pointer;
color:white;
}