<!DOCTYPE HTML>
<head>
<style type="text/css">
body {background-color:#706f6f;}
p {color:#fcea10; }
.linker a{
margin-left: 79px;
color:#fcea10;
font-family: arial;
text-decoration: none;
}
</style>
</head>
<html>
<body id="on">
    <img src="http://localhost/repo22/web/bundles/acmestore/img/404.jpg"><br>
    <span class="linker"><a href="#">Torna a la pàgina d’inici</a></span>
   
</body>
</html>